

/* .container{
    display: flex;
    justify-content: space-around;

}

.boxes{
    background: rebeccapurple;
    border: 1px solid black;
    padding: 20px;
}
h1{
    text-align: center;
} */
/* .container{
    display: flex;
    justify-content: center;
    
}
.reveal-btn{
   margin: 5px; 
   height: 100px;
}
.hidden-content{
     display: none; 
     background: red;
    width: 20%;
    border: 1px solid black;
    padding: 10px; 

}
.hidden-content.reveal-btn{
    display: block;
} */


/* .div2{
    background-color: red;
    text-align: center;
}
button{
    margin-bottom:  30px;
} */

 #sports, li{
    background-color: red;
    text-align: center;
    border: 1px solid rgb(98, 0, 255);
    width: 100px;
    margin: auto;
}

ul, li{
    list-style: none;
} 





