.click-event{
    width: 140px;
    height: 140px;
    margin: auto;
    background-color: aqua;
    transition: all 1s ease;
    
}
.border{
    border-radius: 150px;
    transform: translate(150%);

}
.flex{
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin: auto;
    padding: 50px 0;
    
   
    
    
}
/* -------------------partir 1--------------------------- */
.btn1{
    border-radius: 600px;
    box-shadow: inset 5em 8em gold;
    transition:  all 1s ease; 
   
}

/* ----------------------PARTIE 2------------------------------- */
.btn2{
    border-radius: 500px;
    transition: all 2s ease;
    transform: translateY(100%);
}

/* -----------------------PARTIE 3------------------------------------------ */
.btn3{
    border-radius: 400px;
    transform: translateX(200%);
    transition: all 1s ease

}
/* -----------------------PARTIE 4------------------------------------------------ */
.btn4{
    border-radius: 300px;
    transform: translateX(-200%);
}


/* -----------------------PARTIE 5------------------------------------------------ */
.btn5{
    border-radius: 300px;
}